body{
	background-color: #1e1e1e;
	color: #c8c8c8;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	padding:0px;
}
.content{
	text-align: center;
	position: absolute;
	margin: auto;
	//padding: 20px;
	//background-color:Red;
	padding:0px;
	width: 360px;
	height: 400px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.header{
	height: 55px;
	text-align:center;
}

.links{
	display: flex;
	justify-content: space-between;
	width: 360px;
	padding: 20px;
	margin: auto;
}

.footer{
	position:absolute;
	bottom: 5px;
	margin: auto;
	text-align: center;
	width: 360px;
	height:20px;
}
h1{
	//color: white;
	color: #92caf4;
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	font-weight:500;
	margin:0px;
	margin-bottom:10px;
}
h2{
	color: #569cd6;
	//color: #1e1e1e !important;
	font-size:28px;
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	margin:10px;
}
.container{
	margin:auto;
	height: 90vh;
	width: 360px;
}
.skills{
	//background-color:white;
	height: 30px;
	margin-top:30px;
}
.skillslinks{
	margin:0px;
	display: flex;
	justify-content: space-between;
	height: 60px;
	padding-left:20px;
	padding-right:20px;
	padding-top:0px;
}
.icon{
	height:40px;
}
.icon-container{
	width:45px;
}
a.contact{
	color:white;
}

.header, .info, .skills, .link, .footer{
	display:none;
}

a.link{
	width:125px;
	height:125px;
}

svg{
	display: block; 
	//margin:auto;
	//position:fixed;
	width:125%;
	height:125%;
}

a svg:hover #link{ 
	fill: #999;
}

a{ 
	outline: none; 
	border: 0; 
	text-decoration: none; 
}

a svg #link{ 
	transition: 150ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 200ms;
	-webkit-transition-timing-function: ease-in-out;
}

@media screen and (min-width: 320px) {
	.content, .footer, .container, .info{
		width:320px;
		font-size:12px;
	}.links{width:300px;}
}
@media screen and (min-width: 680px) {
	.content, .footer, .container, .info{
		width:360px;
		font-size:13px;
	}
	.links{width:320px;}
}
@media screen and (min-width: 1024px) {
	.content, .footer, .container, .info{
		width:380px;
		font-size:14px;
	}
	.links{width:340px;}
}